.List {
  width: 33%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border: 1px solid black;
  border-radius: 4px;
  margin: 10px;
  background-image: url("/img/3.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.listCity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  min-height: 30px;
  border: 1px solid black;
  border-radius: 4px;
  margin: 10px;
  background-color: rgb(47, 102, 78);
}

