.Day {
  width: 66%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 4px;
  margin: 10px;
  filter: brightness(0.8);
  position: fixed;
  background-image: url("/img/4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.listCityAll {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  min-height: 200px;
  border: 1px solid black;
  border-radius: 4px;
  margin: 10px;
  color: white;
  background-color: rgb(47, 102, 78);
}
