.Day {
  width: 66%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 4px;
  margin: 10px;
  position: fixed;
  background-color: rgb(105, 190, 155);
}
